<div id="mobile-menu" class="mobile-menu">
    <a href="{% url 'portfolio:home' %}" class="nav-link">Home</a>
    <a href="{% url 'portfolio:about' %}" class="nav-link">About</a>
    <a href="{% url 'portfolio:skills' %}" class="nav-link">Skills</a>
    <a href="{% url 'portfolio:experience' %}" class="nav-link">Experience</a>
    <a href="{% url 'portfolio:certifications' %}" class="nav-link">Certifications</a>
    <a href="{% url 'portfolio:project_list' %}" class="nav-link">Projects</a>
    <a href="{% url 'blog:post_list' %}" class="nav-link">Blog</a>
    <a href="{% url 'contact:contact' %}" class="nav-link">Contact</a>
</div>
